code {
  font-family: 'mastodon-font-monospace', monospace;
  font-weight: 400;
}

.form-container {
  max-width: 400px;
  padding: 20px;
  margin: 0 auto;
}

.simple_form {
  .input {
    margin-bottom: 15px;
  }

  span.hint {
    display: block;
    font-size: 12px;
    margin-top: 4px;
  }

  p.hint {
    margin-bottom: 15px;
  }

  strong {
    font-weight: 500;
  }

  .label_input {
    display: flex;

    label {
      flex: 0 0 auto;
      width: 100px;
    }

    input {
      flex: 1 1 auto;
    }
  }

  .input.file,
  .input.select,
  .input.radio_buttons {
    padding: 15px 0;
    margin-bottom: 0;

    label {
      font-family: inherit;
      font-size: 16px;
      display: block;
      padding-top: 5px;
    }
  }

  .fields-group {
    margin-bottom: 25px;
  }

  .input.radio_buttons .radio label {
    margin-bottom: 5px;
    font-family: inherit;
    font-size: 14px;
    display: block;
    width: auto;
  }

  .input.boolean {
    margin-bottom: 5px;

    label {
      font-family: inherit;
      font-size: 14px;
      display: block;
      width: auto;
    }

    label.checkbox {
      position: relative;
      padding-left: 25px;
      flex: 1 1 auto;
    }

    input[type=checkbox] {
      position: absolute;
      left: 0;
      top: 1px;
      margin: 0;
    }

    .hint {
      padding-left: 25px;
      margin-left: 0;
    }
  }

  input[type=text],
  input[type=number],
  input[type=email],
  input[type=password],
  textarea {
    background: transparent;
    box-sizing: border-box;
    border: 0;
    border-bottom: 2px solid;
    border-radius: 2px 2px 0 0;
    padding: 7px 4px;
    font-size: 16px;
    display: block;
    width: 100%;
    outline: 0;
    font-family: inherit;
    resize: vertical;

    &:invalid {
      box-shadow: none;
    }

    &:focus:invalid {
    }

    &:required:valid {
    }

    &:active,
    &:focus {
    }
  }

  .input.field_with_errors {
    label {
    }

    input[type=text],
    input[type=email],
    input[type=password] {
    }

    .error {
      display: block;
      font-weight: 500;
      margin-top: 4px;
    }
  }

  .actions {
    margin-top: 30px;
    display: flex;
  }

  button,
  .button,
  .block-button {
    display: block;
    width: 100%;
    border: 0;
    border-radius: 4px;
    font-size: 18px;
    line-height: inherit;
    height: auto;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 500;
    outline: 0;
    margin-bottom: 10px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
    }

    &:active,
    &:focus {
      position: relative;
      top: 1px;
    }

    &.negative {
      &:hover {
      }

      &:active,
      &:focus {
      }
    }
  }

  select {
    font-size: 16px;
  }
}

.flash-message {
  border-radius: 4px;
  padding: 15px 10px;
  margin-bottom: 30px;
  text-align: center;

  strong {
    font-weight: 500;
  }
}

.form-footer {
  margin-top: 30px;
  text-align: center;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.oauth-prompt,
.follow-prompt {
  margin-bottom: 30px;
  text-align: center;

  h2 {
    font-size: 16px;
    margin-bottom: 30px;
  }

  strong {
    font-weight: 500;
  }
}

.qr-wrapper {
  display: flex;
}

.qr-code {
  flex: 0 0 auto;
  padding: 4px;
  margin-bottom: 20px;
  display: inline-block;

  svg {
    display: block;
    margin: 0;
  }
}

.qr-alternative {
  margin-left: 10px;

  samp {
    display: block;
    font-size: 14px;
  }
}

.table-form {
  p {
    max-width: 400px;
    margin-bottom: 15px;

    strong {
      font-weight: 500;
    }
  }

  .warning {
    max-width: 400px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 15px;

    a {
      text-decoration: underline;

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }

    strong {
      font-weight: 600;
      display: block;
      margin-bottom: 5px;

      .fa {
        font-weight: 400;
      }
    }
  }
}

.action-pagination {
  display: flex;
  align-items: center;

  .actions,
  .pagination {
    flex: 1 1 auto;
  }

  .actions {
    padding: 30px 0;
    padding-right: 20px;
    flex: 0 0 auto;
  }
}

.user_allowed_languages {
  li {
    float: left;
    width: 50%;
  }
}
