// Commonly used web colors
$black: #000000;            // Black
$white: #ffffff;            // White
$success-green: #79bd9a;    // Padua
$error-red: #df405a;        // Cerise
$warning-red: #ff5050;      // Sunset Orange
$gold-star: #ca8f04;        // Dark Goldenrod

// Values from the classic Mastodon UI
$hue: 20deg;
$classic-base-color: hsl($hue, 15.7%, 30% /*18.6% /* 10~60% */);       // Midnight Express
$classic-primary-color: hsl($hue - 9.3, 29%, 90% /*69.6% /* 33~92% */);    // Echo Blue
$classic-secondary-color: hsl($hue - 16, 24.6%, 88% /* 65~92% */);    // Pattens Blue
$classic-highlight-color: hsl(205/* $hue - 18.8 */, 69.6%, 60% /* 51% /* 5~90% */);   // Summer Sky

// Variables for defaults in UI
$base-shadow-color: $black !default;
$base-overlay-background: $black !default;
$base-border-color: $white !default;
$simple-background-color: $white !default;
$primary-text-color: $white !default;
$valid-value-color: $success-green !default;
$error-value-color: $error-red !default;

// Tell UI to use selected colors
$ui-base-color: $classic-base-color !default;             // Darkest
$ui-primary-color: $classic-primary-color !default;       // Lighter
$ui-secondary-color: $classic-secondary-color !default;   // Lightest
$ui-highlight-color: $classic-highlight-color !default;   // Vibrant
