// Commonly used web colors
$black: #ffffff;            // Black
$white: #000000;            // White
$success-green: #864265;    // Padua
$error-red: #20bfa5;        // Cerise
$warning-red: #00afaf;      // Sunset Orange
$gold-star: #3570fb;        // Dark Goldenrod

// Values from the classic Mastodon UI
$classic-base-color: #dcd3c8;         // Midnight Express
$classic-primary-color: #645137;      // Echo Blue
$classic-secondary-color: #261e17;    // Pattens Blue
$classic-highlight-color: #d46f26;    // Summer Sky

// Variables for defaults in UI
$base-shadow-color: $black !default;
$base-overlay-background: $black !default;
$base-border-color: $white !default;
$simple-background-color: $white !default;
$primary-text-color: $white !default;
$valid-value-color: $success-green !default;
$error-value-color: $error-red !default;

// Tell UI to use selected colors
$ui-base-color: $classic-base-color !default;             // Darkest
$ui-primary-color: $classic-primary-color !default;       // Lighter
$ui-secondary-color: $classic-secondary-color !default;   // Lightest
$ui-highlight-color: $classic-highlight-color !default;   // Vibrant
