
@mixin fa-icon($image) {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: image-url($image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.fa-iine {
  @include fa-icon('iine.svg');
    
  &.fa-fw {
    width: 22px;
    height: 16px;
  }

  &.active {
    background-image: image-url('iine.svg');
  }

  &.inactive {
    background-image: image-url('irane.svg');
  }

  &--column {
    @extend .fa-iine;
    background-image: image-url('iine-column.svg');
  }

  &--status {
    @extend .fa-iine;
    background-image: image-url('iine-status.svg');
  }

  &--detailed {
    @extend .fa-iine;
    background-image: image-url('iine-detailed.svg');
    vertical-align: middle;
  }
}

.fa-irane {
  @include fa-icon('irane.svg');
}

.fa-nicoru {
  @include fa-icon('nicoru.svg');
}
