$base-shadow-color: #000000;
$base-overlay-background: #ffffff;
$base-border-color: #000000;
$simple-background-color: #ffffff;
$primary-text-color: #000000;
$valid-value-color: #79bd9a;
$error-value-color: #df405a;

$ui-base-color:  hsl(224deg, 15.7%, 90% /*100 - 18.6 /* 10~60% */);
$ui-primary-color: hsl(214.7deg, 29%, 100 - 69.6 /* 33~92% */);
$ui-secondary-color: hsl(208deg, 24.6%, 100 - 88 /* 65~92% */);
$ui-highlight-color: hsl(205.2deg, 69.6%, 100 - 51% /* 5~90% */);

@function darken($color, $amount) {
  @return hsl(hue($color), saturation($color), lightness($color) + $amount);
}

@function lighten($color, $amount){
  @return hsl(hue($color), saturation($color), lightness($color) - $amount);
}
